body {
    margin-left: 200px;
    margin-top: 50px;
    background-color: black;
}
h1 {
    color: rgb(112, 112, 112);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:   rgb(72, 80, 193);
}
